/* CSS VARIABLES */
:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }

  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }

  h1 {
    padding-top: 60px;
  }

  .wrapper {
    margin: 0;
    padding: 0;
  }


  /* MAIN CONTIANER */
  .main-container {
    padding: 50px;
  }

  #recommendations {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 画像カードの幅を広げる */
    padding: 20px;
    margin-top: 20px;
  }

  .movie-card {
    background-color: var(--primary);
    color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  .movie-image {
    width: 100%; /* カード幅に合わせる */
    height: 300px; /* 高さを調整 */
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: cover; /* 画像をカードにきれいに収める */
  }

  #re-recommend-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--light);
    border: 2px solid var(--light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #re-recommend-button:hover {
    background-color: var(--dark);
    color: var(--primary);
  }
